/* variables */
:root {
    --border: 2px dashed black;
}

/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

header {
    background-color: lightblue;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: goldenrod;
    display: flex;
    width: 60%;
    min-height: 60%;
}

.small-header-box {
    flex-basis: 20%;
    border: var(--border);
}

.large-header-box {
    flex-grow: 1;
    border: var(--border);
}

/* hero container */

.hero-image-container {
    background-color: darkblue;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image {
    background-color: violet;
    height: 80%;
    border: var(--border);
    width: 50%;
}

/* main content */

.section {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-white {
    background-color: white;
}

.bg-gray {
    background-color: lightgray;
}

/* main boxes */

.main-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 100%;
    padding: 50px 0;
}

.main-box {
    min-height: 100%;
    border: var(--border);
}


.main-box.main-box-large {
    background-color: dodgerblue;
    flex-basis: 60%;
    
}

.main-box.main-box-small {
    background-color: pink;
    flex-basis: 40%;
    
}

/* green section */

.large-section {
    height: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box.main-box-extra-large {
    background-color: forestgreen;
    flex-basis: 100%;
}